@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #4dc018;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #36c712;
    border-bottom: 3px solid #36c712;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #36b41d;
        border-bottom: 3px solid #36b41d;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #36b41d;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

span{
    color: #36b41d;
}

p{
    
    text-align: justify;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img img{
    position: relative;
    width: 22vw;
    border-radius: 5%;
    box-shadow: 0 0 50px solid #39c516;
    cursor: pointer;
    transition: 0.2s linear;
}


ul{
    margin: 0;
    padding: 0;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.493);
    

}
ul li{
    position: relative;
    list-style: none;
    font-size: 2em;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s;
}

ul li a{
    color: #fff;
}

ul li:hover{
    color: #111;
}


ul li:before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #3fff00;
   z-index: -1;
   transform: scaleY(0);
   transition: transform 0,5s;
   transform-origin: bottom;
}

ul li:hover:before{
    transform: scaleY(1);
    transition: transform 0,5s;
    transform-origin: top;
    
}

ul li:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3fff00;
    z-index: -2;
    transform: scaleY(0);
    transition: transform 0,5s;
    transform-origin: bottom;
    filter: blur(40px);
    
 }
 
 ul li:hover:after{
     transform: scaleY(1);
     transition: transform 0,5s;
     transform-origin: top;
     
 }



.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #36b41d;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #36b41d;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #36b41d;
    box-shadow: 0  0 25px #36b41d;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #36b41d;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #36b41d;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #36b41d;
    color: black;
    box-shadow: 0 0 25px #36b41d;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    color: #36c712;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "jects";
    color: #ffffff;
    animation: words 20s infinite;
}
@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}